name: flutter_code_view
description: "A Flutter package for displaying and highlighting code snippets with syntax highlighting and customizable themes."
version: 0.0.4
homepage: "https://github.com/SwanFlutter/flutter_code_view.git"

environment:
  sdk: ^3.5.3
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter
  base_cod_view: ^0.0.3
    

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^4.0.0


flutter:


